*{
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
   
}

body{
    background-image: url(file:///C:/Users/rdecinti/Downloads/bg_bggenerator_com.jpg);
}

#sign-up-container{
    border-radius: 5px;
    position: absolute;
    top: 30%;
    left: 42%;
    margin-top: -50px;
    margin-left: -50px;
    width: 20%;
    height:600px;
    background-color:white;
   
    
 
}

  




.input{
    width:90%;
    padding:15px 0px;
    border-radius: 3px;
    border: 1px solid #8a8a8a;
    display:flex;
    margin-bottom:15px;
    text-align: center;
    -webkit-box-shadow: 0 4px 2px -2px #8a8a8a;
    -moz-box-shadow: 0 4px 2px -2px #8a8a8a;
    box-shadow: 0 4px 2px -2px #8a8a8a;
}

.login-signup-btn{
    text-align: center;
    margin-bottom:15px;

}

.text-block{
    margin-bottom:15px;
}

.submit-block{
    height:100px;
    text-align: center;

}

#submit{
    margin-bottom:10px;
    background-image:linear-gradient(to right,rgb(162,155,255),rgb(198,120,255));
    display: flex;
    justify-content: center;
    width:90%;
    padding:15px 0px;
    border:none;
    border-radius:3px; 
}

#submit,#select-1,#select-2:hover,#select-3:hover,#select-4:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color:rgb(198,120,255);
}

h1{
    font-family: 'Open Sans', sans-serif;
    margin-bottom:30px;
    margin-top:30px;
}


.sign-up-header{
    text-align: center;
    margin-bottom:30px;
    margin-top:20px;
}


#sign-up-form{
    display: flex;
}


.name{
    width:90%;
    padding:15px 0px;
    border-radius: 3px;
    border: 1px solid #8a8a8a;
    display:flex;
    margin-bottom:15px;
    text-align: center;
    -webkit-box-shadow: 0 4px 2px -2px #8a8a8a;
    -moz-box-shadow: 0 4px 2px -2px #8a8a8a;
    box-shadow: 0 4px 2px -2px #8a8a8a;
}

#select-3{
  background-color: white;
    width:45%;
    padding:15px 0px;
    border:1px solid lightgray;
    border-radius:3px;  
}

#select-4{
    background-color: #A29BFF;
  
    width:45%;
    padding:15px 0px;
    border:1px solid lightgray;
    border-radius:3px;  
}

.name2{
    margin-left:20px;
    width:40%;
    padding:15px 0px;
    border-radius: 3px;
    border: 1px solid #8a8a8a;
    display:inline;
    margin-bottom:15px;
    text-align: center;
    -webkit-box-shadow: 0 4px 2px -2px #8a8a8a;
    -moz-box-shadow: 0 4px 2px -2px #8a8a8a;
    box-shadow: 0 4px 2px -2px #8a8a8a;
}

.label{
    text-align: center;
    margin-bottom:12px;
}

.tosContainer{
    width:75%;
}

.required{
    color:red;
}